<h5>Employee List</h5>
<button (click)="addemp()" type="button" class="btn btn-primary float-right">Add</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">DESIGNATION</th>
      <th scope="col">TYPE</th>
      <th scope="col">REPORTING MANAGER</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let emp of emplst">
      <td>{{ emp.firstName}}</td>
      <td>{{ emp.designation}}</td>
      <td>{{ emp.employeeType ===1?'Permanent':'Temporary'}}</td>
      <td>{{ emp.managerName}}</td>
      <td><button (click)="empEdit(emp.id)" type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-primary"
          (click)="deleteEmp(emp.id)"> Delete</button></td>
    </tr>
  </tbody>
</table>